body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: auto;
}

main {
  margin: auto;
  width: 626px;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  color: #3F3D56;

}

h1 strong {
  color: #EE24FF;
}

p {
  color: #828282;
}

p strong {
  color: #3F3D56;
}

p span {
  color: #828282;
  font-weight: bold;
}

.line {
  width: 391px;
  height: 0px;
  margin: 64px auto 16px;
  border: 1px solid #ECEFF2;
}

footer a {
  color: #3F3D56;
  font-weight: bold;
  text-decoration: none;
  padding-left: 28px;
}

footer a:hover {
  color: #7c799c;
}

footer img {
  position: fixed;
  
  bottom: 0;
  left: 0;
}